/* Semantics below */

* {
    padding: 0; margin: 0;
}

body {
    font-family: Verdana;
    background-color: rgb(24, 24, 58);
    color: white;
}

header {
    font-size: 25px;
    padding: 30px;
    border-bottom: 1px grey;
    border-bottom-style: solid;
}

header ul {
    list-style-type: none;
    display: inline;
}

header li {
    width: 100%;
    display: inline;
    margin-right: 30px; 
}

nav {
    font-size: 20px;
    padding: 30px;
    border-bottom: 1px grey;
    border-bottom-style: solid;
}

nav ul {
    list-style-type: none;
    display: inline;
}

nav li {
    width: 100%;
    display: inline;
    margin-right: 30px;
}

main {
    height: calc(100%);
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

footer {
    width: calc(100% - 60px);
    padding: 30px;
    border-top: 1px grey;
    border-top-style: solid;
    text-align: center;
}

footer li {
    list-style-type: none;
}

footer ul {
    width: 100%;
    display: inline;
    margin-right: 30px;
}

/* Classes below */

.container {
    border-color: grey;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

.light-mode {
    background-color: white;
    color: black;
}

.button-dark-mode {
    background-color: rgb(24, 24, 58);
    color: white;
}

.modebutton {
    margin-top: -12px;
    float: right;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Calculator */
.calcbutton {
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}

.operator-btn {
    background-color: grey;
}

.operator-btn:hover {
    background-color: rgb(112, 112, 112);
}

.operator-btn:active {
    background-color: rgb(83, 83, 83);
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    border: none;
    background-color: lightgrey;
}

#calculator {
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    max-width: 200px;
    overflow: hidden;
}

#keys {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Rainbow Text */
.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

#shadowBox {
    background-color: rbg(0, 0, 0,);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}
