/* Semantics below */

* {
    padding: 0; margin: 0;
}

body {
    font-family: Verdana;
    background-color: rgb(24, 24, 58);
    color: white;
}

header {
    font-size: 25px;
    padding: 30px;
    border-bottom: 1px grey;
    border-bottom-style: solid;
}

header li {
    list-style-type: none;
}

header ul {
    width: 100%;
    display: inline;
    margin-right: 30px; 
}

nav {
    font-size: 20px;
    padding: 30px;
    border-bottom: 1px grey;
    border-bottom-style: solid;
}

nav li {
    list-style-type: none;
}

nav ul {
    width: 100%;
    display: inline;
    margin-right: 30px;
}

main {
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

/* Classes below */

.container {
    border-color: grey;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

.light-mode {
    background-color: white;
    color: black;
}

.button-dark-mode {
    background-color: rgb(24, 24, 58);
    color: white;
}

.modebutton {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* Id's below */

#shadowBox {
    background-color: rbg(0, 0, 0,);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

#ulButton {
    max-width: 100%;
    margin-left: 900px;
}